.Ccm{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color:white;

  margin:0.5em;
}

.search-form{
  margin:1em;
}
.search-form input{
  width:20em;
  height:3em;
  border-radius: 7px;
}


/* pagination */
.pagination{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.pagination a{
  color:white;
  border: none;
  background-color: #06546c;
}
@media only screen and (max-width:768px){
}



